@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
  font-family: 'Secular One', sans-serif;
  background-image: URL("https://cdn.wallpapersafari.com/91/95/9VxKFG.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

div {
  text-align: center;
}

input {
  font-family: 'Secular One', sans-serif;
  font-size: 24px;
  text-align: center;
}

h1 {
  font-size: 46px;
  color: white;
}

button {
  font-family: 'Secular One', sans-serif;
  background: gold;
  font-size: 24px;
  text-align: center;
}

#bird-talk{
  margin-top: 300px;
  color:white;
  font-size: 24px
}